/* -------------------------------- css reset ------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------------------- div define ------------------------------- */

div {
  position: absolute;
  display: flex;
}

/* --------------------------------- wrapper -------------------------------- */

/* .wrapper {}  [*] */ 

/* --------------------------------- header --------------------------------- */

.header {
  background-color: #FFE6D6;
  height: 20vh;
  width: 100vw;
}

/* --------------------------------- content -------------------------------- */

.content {
  background-color: #E3ECDB;
  top: 20vh;
  left: 20vw;
  height: 60vh;
  width: 60vw;

}

/* ------------------------------ left sidebar ------------------------------ */

.left-sidebar {
  background-color: #B4C6EA;
  left: 0;
  top: 20vh;
  height: 60vh;
  width: 20vw;
  
}

/* ------------------------------ right sidebar ----------------------------- */

.right-sidebar {
  background-color: #2D5399;
  left: 80vw;
  top: 20vh;
  height: 60vh;
  width: 20vw;
}

/* --------------------------------- footer --------------------------------- */

.footer {
  background-color: #777171;
  top: 80vh;
  height: 20vh;
  width: 100vw;
  left: 0;
}