.items{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.item{
    width: 18rem;
    height: 18rem;
    margin: 1rem;
    transition: all .4s;

}

.item{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.item:hover{
    padding-bottom: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}


.item1{
    background-position: center;
    background-image: url(../img/hoodie1.webp);
    background-size: cover;
}
.item2{
    background-position: center;
    background-image: url(../img/hoodie2.webp);
    background-size: cover;
}
.item3{
    background-position: center;
    background-image: url(../img/hoodie3.webp);
    background-size: cover;
}
.item4{
    background-position: center;
    background-image: url(../img/hoodie4.webp);
    background-size: cover;
}
.item5{
    background-position: center;
    background-image: url(../img/hoodie5.webp);
    background-size: cover;
}
.item6{
    background-position: center;
    background-image: url(../img/Vinyl1.webp);
    background-size: cover;
}
.item7{
    background-position: center;
    background-image: url(../img/Vinyl2.webp);
    background-size: cover;
}
.item8{
    background-position: center;
    background-image: url(../img/Vinyl3.webp);
    background-size: cover;
}
.item9{
    background-position: center;
    background-image: url(../img/Vinyl4.webp);
    background-size: cover;
}
.item10{
    background-position: center;
    background-image: url(../img/Vinyl5.webp);
    background-size: cover;
}
.item11{
    background-position: center;
    background-image: url(../img/mask1.webp);
    background-size: cover;
}
.item12{
    background-position: center;
    background-image: url(../img/mask2.webp);
    background-size: cover;
}
.item13{
    background-position: center;
    background-image: url(../img/mask3.webp);
    background-size: cover;
}
.wallpaper{
    height: 100vh;
    background-image: url(../img/backgorund_index.png);
    background-size   : cover;
}