*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Consolas;
  font-weight: 500;
  background-color: #000000;
  color:#ffffff;
}

.nav {
  border-bottom: 1px solid #eef1f6;
  background-color: #0e0e0e;
  padding-top: 1px;
}
.nav .menu{
  margin-top: 0.9rem;
}
.nav-toggle {
  position: absolute;
  cursor: pointer;
  margin: 0rem 1rem;
  right: 0;
}
.nav-toggle svg {
  width: 1.5rem;
  fill: #ffffff;
}
.nav-toggle .close {
  display: none;
  margin-top: 0.9rem;
}

.nav-checkbox {
  display: none;
}
.nav-menu {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  margin: 1rem;
}
.nav-menu li {
  list-style: none;
  display: none;
}
.nav-menu li:first-child {
  margin-right: auto;
  display: block;
}
.nav-menu a {
  text-decoration: none;
  color: inherit;
  font-size: 1.2rem;
}
.nav-menu img {
  height: 1.5rem;
}

#nav-checkbox:checked ~ ul.nav-menu li {
  display: block;
}

#nav-checkbox:checked ~ label.nav-toggle .close {
  display: block;
}

#nav-checkbox:checked ~ label.nav-toggle .menu {
  display: none;
}

.wrapper{
  margin: 0;
  padding: 1rem;
  background-color: #666666;
}

footer{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

footer div{
  margin: 1rem;
}

footer .logo img{
  width: 10rem;
}

footer .quick-links ul{
  list-style: none;
}
footer .quick-links ul a{
  color: #ffffff;
  text-decoration: none;
}


@media only screen and (min-width: 560px) {
  .nav-toggle {
    display: none;
  }
  .nav-menu {
    flex-direction: row;
  }
  .nav-menu li {
    display: block;
  }
  footer{
    flex-direction: row;
  }
}

@media only screen and (min-width: 902px) {
  footer .quick-links li{
    display: inline;
    margin: 1rem;
  }
}